beautifulsoup4
folium
matplotlib  # Ensure this version is compatible with your Python version
numpy
pandas # Ensure this version is compatible with your Python version
plotly # This includes plotly.express
requests
scikit-learn
scipy
streamlit
streamlit_folium==0.4.0 
seaborn
