folium==0.12.1
streamlit_folium
pandas
numpy==1.20.1
streamlit
scipy
matplotlib
plotly
plotly.express
requests==2.31.0
beautifulsoup4==4.11.1  # Use the latest version compatible with your Python version
scikit-learn==1.0.2 
